.row
  %h1 About Goldengrove
.row
  .small-10.small-offset-1.large-4.large-offset-4.columns
    %p
      Made with love by
      %a{href: 'http://github.com/ichthala'} ichthala
      in 2015.
    %p
      Source code <a href='http://github.com/ichthala'>here</a>. Contributors welcome!
