// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-bg: url('bg.png');
$header-font: Times New Roman, serif;
$body-font: Helvetica Neue, sans serif;

#blotter {
  height: 435px;
  border: 1px solid black;
  border-radius: 3px;
}

body {
  background-image: url('bg.png');
}

.center-p {
  text-align: center;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: $header-font;
}

#inner-tweet-box {
  height: 436px;
  overflow: scroll;
  padding: 0 10px 0 10px;
}

#intro {
  max-width: 600px;
  margin: 0 auto;
}

p, span {
  font-family: $body-font;
}

#poem-box {
  width: 45%;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
}

#punc-toolbar {
  text-align: center;
}

#random-box {
  background-color: #ffffbb;
}

.row {
  max-width: 80.5rem;
}

#save-buttons {
  text-align: center;
}

.title-img {
  width: 25%
}

.top-bar {
  color: #fff;
}

.tweet {
  margin-bottom: 5px;
  border: 1px solid black;
}

#tweet-box {
  width: 45%;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
  height: 602px;
}

.tweet-word {
  background-color: #D6CEA3;
  border-radius: 3px;
  float: left;
  margin: 2px;
  padding: 0 4px 0 4px;
}

