// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blotter {
  height: 435px;
  border: 1px solid black;
  border-radius: 3px;
}

h1 {
  text-align: center;
}

#poem-box {
  width: 45%;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
}

#punc-toolbar {
  text-align: center;
}

#random-box {
  background-color: #ffffbb;
}

.row {
  max-width: 80.5rem;
}

#save-buttons {
  text-align: center;
}

.title-img {
  width: 25%
}

.top-bar {
  color: #fff;
}

.tweet {
  margin-bottom: 5px;
  border: 1px solid black;
}

#tweet-box {
  width: 45%;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
  height: 602px;
  overflow: scroll;
}

.tweet-word {
  background-color: #ffffbb;
  border-radius: 3px;
  float: left;
  margin: 2px;
}

