// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

#poem-box {
  float: left;
  width: 45%;
}

#random-box {
  background-color: #ffffbb;
}

.title-img {
  width: 25%
}

.top-bar {
  color: #fff;
}

.tweet {
  margin-bottom: 5px;
}

#tweet-box {
  float: left;
  width: 45%;
}

.tweet-word {
  background-color: #ffffbb;
  border-radius: 3px;
  float: left;
  margin: 2px;
}

